* {
    text-align: center;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

body {
    background-image: url(../img/background.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: #e0e2db;
    background-color: #586da1;
    border: 50px solid black;
    border-image: url(../img/title-border3.png) 45%;
    border-image-repeat: repeat;
    background-image: linear-gradient(#98648f78 17%, #3096be);
    background-origin: border-box;
    background-repeat: no-repeat;
    width: 550px;
    height: 128px;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 20px;
    font-family: system-ui;
}

.modal {
    position: absolute;
    display: none;
    opacity: 0%;
    transition: 1s ease-in-out;
    background-color: #74B2F4;
    font-size: xx-large;
    left: 40%;
    top: 40%;
    height: 230px;
    width: 290px;
    padding: 50px;
}

.container {
    margin: auto;
    width: 80%;
    height: 80%;
}

.top-bar {
    width: 550px;
    height: 50px;
    margin: auto;
    margin-bottom: 0px;
    background-color: #3096be;
}

.life {
    display: inline-block;
    position: relative;
    font-size: larger;
    margin-left: 2px;
    margin-right: 64px;
    width: 70px;
    height: 22px;
}

input[name="difficulty"] {
    margin: 20px 1px;
}

.face {
    display: inline-block;
    font-size: larger;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.timer {
    display: inline-block;
    position: static;
    font-size: xx-large;
    font-family: monospace;
    height: 30px;
    width: 60px;
    margin-left: 50px;
    background-color: goldenrod;
    border-radius: 10%;
}

.hints {
    position: absolute;
    font-size: x-large;
    box-sizing: content-box;
    background-color: cornflowerblue;
    border-radius: 35%;
    width: 70px;
    height: 38px;
    padding: 5px;
    left: 83px;
}

.hints:hover {
    box-shadow: 0px 0px 11px 2px #e0e2db9e;
}

table {
    width: 550px;
    height: 650px;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 25px;
    outline: 1px solid;
    border-spacing: 0.1px;
    font-size: 1rem;
    table-layout: fixed;
    /* background-color: green; */
}

tr {
    width: 10px;
    height: 10px;
}

.cell {
    border: 2px solid black;
    padding: 0px;
    width: 6%;
    height: 6%;
    font-size: x-large;
}

.hidden {
    background-color: #9c9c9c;
}

.displayed {
    background-color: #e0e2db;
}

@keyframes flicker-cell {
    from {
        background-color: #9c9c9c;
    }
    to {
        background-color: #e0e2db;
    }
}

.flicker {
    animation-name: flicker-cell;
    animation-direction: alternate;
    animation-iteration-count: 5;
    animation-duration: 0.5s;
}